* {
    outline:3px dotted black;
    box-sizing: border-box;
}

body {
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    width: auto;
    margin-bottom: 20px;
}

header, h1 {
    font-family: Georgia, Times, 'Times New Roman', serif
}

.nameTag {
    background-color: #4aaaa5;
    color: white;
    float: left;
    width: auto;
    padding: 20px;
    margin-left: 10%;
}

.links {
    float: right;
    width: auto;
    padding: 10px;
    margin-right: 10%;
}

section {
    clear: both;
    width: 960px;
    margin-left: 10%;
    margin-top: 20px;
}
footer {
    background-color: #666666;
    color: white;
    text-align: center;
    padding-top: 20px;
}